<div class="posts J-list">
    {{ range .Paginator.Pages }}
    {{ partial "summary.html" . }}
    {{ end }}
</div>

<script>
  // 渲染浏览量
  function renderVisit() {
    var query = new AV.Query('Visit');
    query.limit(1000);
    query.find().then(function(list) {
      var treeMap = {};
      list.forEach(function(item) {
        var keyLink = item.get('link'),
            count = item.get('visitCount');
        treeMap[keyLink] = count;
      });

        $('.J-list .post').each(function() {
          var a = document.createElement('a');
          var el = $(this),
              href = el.find('.J-link').attr('href'),
              dom = el.find('.post-info');

          a.href = href;
          var link = a.pathname;
          var len = treeMap[link] || 0;
          dom.append('· 浏览量. <span>' + len + '</span>');
        });
    });
  }
  renderVisit();
</script>
