{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav>
    <div class="pagination">
        {{ if .Paginator.HasPrev }}
        <a class="pagination-item" href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">Previous</a> {{ else }}
        <span class="pagination-item">Previous</span> {{ end }} {{ if .Paginator.HasNext }}
        <a class="pagination-item" href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}">Next</a> {{ else }}
        <span class="pagination-item">Next</span> {{ end }}
    </div>
</nav>
{{ end }}
