<!DOCTYPE html>
<html>

<head>
    <title>{{ .Title }}</title>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no' />
    <!-- CSS -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/init.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/particles.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/markdown.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css">
</head>

<body>
    <div class="nav">
        <button class="menu"></button>
        {{ partial "assort.html" . }}
    </div>
    <div class="header">
        <a href="{{ .Site.BaseURL }}">
            <p class="title">{{ .Title }}</p>
            <p class="title">回到首页</p>
            <p class="sub-title">{{ .Site.Params.SubTitle }}</p>
            <hr />
        </a>
    </div>
