<div class="recommend">
    <h3>文章列表</h3>
    <div class="posts">
        {{ range first 5 .Paginator.Pages }}
        <div class="post">
            <span class="post-title">
                <img src="{{ .Site.BaseURL }}/media/{{ .Params.avatar }}" />
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </span>
            <span class="post-info">
                Author.<span>{{ .Params.author }}</span> · 
                Tag.{{ range .Params.tags }}<a href="/f2e/tags/{{ . | urlize }}">{{ . }}</a>{{ end }} · 
                {{ .Date.Format .Site.Params.DateFormat }}
            </span>
        </div>
        {{ end }}
    </div>
</div>
