<div class="post">
    <h1 class="post-title">
        <img src="{{ .Site.BaseURL }}media/{{ .Params.avatar }}" />
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h1>

    <p class="post-info">
        Author.<span>{{ .Params.author }}</span> · 
        Tag.{{ range .Params.tags }}<a href="/f2e/tags/{{ . | urlize }}">{{ . }}</a>{{ end }} · 
        {{ .Date.Format .Site.Params.DateFormat }}
    </p>

    <div class="post-body">
        {{ if .Truncated }} 
        {{ .Summary }} 
        {{ else }} 
        {{ .Content }} 
        {{ end }}
    </div>

    {{ if .Truncated }}
    <p class="post-more">
        <a href="{{ .Permalink }}">查看更多 …</a>
    </p>    
    {{ end }}
</div>
