<!DOCTYPE html>
<html>

<head>
    <title>{{ .Site.Title }}</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/init.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/markdown.css">
    <!-- <script type="text/javascript" src="{{ .Site.BaseURL }}js/zhihu.js"></script>  -->
    <!-- <script type="text/javascript" src="{{ .Site.BaseURL }}js/common.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}js/instant.js"></script> -->
</head>

<body>
    {{ partial "header.html" . }}
    <div class="container">
        {{ partial "left.html" . }} 
        {{ partial "right.html" . }}
        {{ partial "bottom.html" . }}
    </div>
    {{ partial "footer.html" . }}
</body>

</html>
